<!Doctype html>
<html xmlns:th="hrrp://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Wa11y Scan</title>
  </head>
  <body>
    <h1>Web Scan Engine</h1>
 <div id="container ">
  <form action="showFiles" method="post">
  <div class="form-group">
    <label for="exampleInputurl">Kindly Provide The Path</label>
    <input  name="urls" class="form-control" id="exampleInputurl" aria-describedby="emailHelp" placeholder="Enter the Url">
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Load Pdf</button>
</form>


  </body>
</html>